[defaults]
roles_path = roles
retry_files_enabled = True
forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 7200 # cache facts for two hours

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
ControlPath = ~/.ansible/cp/%%h-%%p-%%r
